<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <!-- Replacing the content with the parent fragment from base.html -->
    <div id="content">
        <h1>This is about page content</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam incidunt accusamus hic maxime magnam commodi dicta dolore unde, enim, sit mollitia dolorum fugiat illum ipsum quo id quia! Sint, accusantium, perspiciatis optio sit at quaerat fuga commodi dolorum ipsa eos quia error excepturi laborum. A adipisci reprehenderit veritatis suscipit error.

        </p>
    </div>
   
</body>
</html>
