<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>
 
    <!-- The content that will be passed to the parent fragment -->
    <section id="content">
        <h1>Welcome to the Services page</h1>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis praesentium quis deleniti porro quo aspernatur eveniet fugit optio provident? Iure molestias dicta, hic consequuntur libero cumque maxime ducimus vel expedita, aliquam, vero dolorem a laboriosam mollitia temporibus fuga eos sed nobis blanditiis excepturi. Dolor assumenda repudiandae hic, nobis distinctio aliquid unde alias rerum fugit numquam ducimus incidunt, officiis consequuntur cumque saepe commodi eligendi iste quia quaerat laboriosam facere nulla vitae tenetur ab? Debitis nesciunt perferendis ab ullam cum ducimus, quam assumenda quisquam et, vitae impedit mollitia, libero deserunt sint fugit voluptatum dolorum in laborum facilis sunt eum voluptates beatae labore.</p>
    </section>
</body>
</html>
